@import "tailwindcss";
@import "./typography.css";

@theme {
  /* Base colors */
  --color-black: #000000;
  --color-white: #ffffff;

  /* Gray scale */
  --color-gray-10: #e5e5e5;
  --color-gray-20: #cccccc;
  --color-gray-30: #b2b2b2;
  --color-gray-40: #999999;
  --color-gray-50: #7f7f7f;
  --color-gray-60: #666666;
  --color-gray-70: #4c4c4c;
  --color-gray-80: #333333;
  --color-gray-90: #191919;

  /* Brown scale */
  --color-brown: #4d2700;
  --color-brown-10: #5e3c19;
  --color-brown-20: #715233;
  --color-brown-10t: #452300;
  --color-brown-20t: #3e1f00;

  /* Yellow scale */
  --color-yellow: #ffc414;
  --color-yellow-30: #ffd65a;
  --color-yellow-60: #ffe7a1;
  --color-yellow-90: #f4e891;
  --color-yellow-10t: #f4e891;
  --color-yellow-20t: #fcf2b0;

  /* Accent */
  --color-red: #ff0000;
  --color-blue: #3e3bff;
  --color-green: #02e819;
}

@layer base {
  html {
    font-size: 62.5%; /*1rem: 10px */
  }
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .text-stroke-white {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--White, #fff);
  }
  .text-stroke-brown {
    -webkit-text-stroke-width: 7px;
    -webkit-text-stroke-color: var(--Brown, #4d2700);
  }
  .text-stroke-brown-s {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--Brown, #4d2700);
  }
  .text-stroke-black {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--Black, #000);
  }
  .button-shadow {
    box-shadow:
      0px 0px 4px 0px #462611,
      0px 2px 0px 0px #fff inset,
      0px 27px 4.6px 0px rgba(255, 191, 0, 0.46) inset,
      0px -4px 2.7px 0px rgba(206, 123, 0, 0.34) inset,
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .buttombar-shadow {
    box-shadow:
      0px 1px 3.8px 0px #000,
      0px 2px 1.3px 0px #fff inset,
      0px 31px 14.7px 0px rgba(73, 32, 0, 0.25) inset,
      0px -13px 16.9px 0px #351c00 inset,
      0px 4px 4px 0px rgba(0, 0, 0, 0.58);
  }
}
